[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm.git
[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c.git
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/sdl2"]
	path = deps/sdl2
	url = https://github.com/libsdl-org/SDL.git
